{% extends 'web/layout.html' %}
{% load static %}

{% block title %} Acerca de {% endblock %}

{% block article_section %}

<h1 class="acercadeTitle">Acerca de Jaguarete KAA</h1>

<div class="contenidoacerca">
<p class="descripcion">Jaguarete KAA es un eCommerce nacional que te lleva todos los productos a tu puerta.<br> 
Reúne los miles de productos de las tiendas más grandes del pais y permite pagar en pesos y hasta en 12 cuotas fijas.<br>
Llevamos más de <b>5 años</b> en el mercado con muy buenas referencias por parte de nuestros clientes!</p>

<div class="pqcomprar">
    <h3>¿Por qué comprar en Jaguarete KAA?</h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Tenés variedad.</li>
        <li class="list-group-item">Encontrás disponibilidad.</li>
        <li class="list-group-item">Pagás en pesos y con hasta 12 cuotas fijas</li>
        <li class="list-group-item">Tus compras están aseguradas y tienen garantía de entrega</li>
        <li class="list-group-item">Ves el precio final al momento de pagar. ¡Sin sorpresas!</li>
    </ul>
</div>

<div class="container">
    <div class="row">
      <div class="col-sm reporteEmpresa">
        <p class="textocontenido"><b>+500</b> nuevos clientes cada mes</p>
      </div>
      <div class="col-sm reporteEmpresa">
        <p class="textocontenido"><b>+100.000</b> clientes totales</p>
      </div>
      <div class="col-sm reporteEmpresa">
        <p class="textocontenido"><b>19857</b> productos distintos</p>
      </div>
      <div class="col-sm reporteEmpresa">
        <p class="textocontenido"><b>875</b> envios cada més</p>
      </div>
    </div>
</div>

</div>



{% endblock %}