{% extends 'web/layout.html' %}
{% load static %}

{% block title %} {{ producto.titulo }} {% endblock %}

{% block article_section %}

<div class="breadcontainer">
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Inicio</a></li>
        <li class="breadcrumb-item"><a href="/categoria/{{ producto.categoria.id }}">{{ producto.categoria }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ producto.titulo }}</li>
        </ol>
    </nav>
</div>

<div class="bg-light mx-auto d-flex flex-sm flex-column flex-md-row detallecontenedor m-3 p-3">
    <div class="detalleimagen w-100 w-sm-50">
        <img src="{{ producto.imagen.url}}" class="img-fluid img-thumbnail w-auto imagendetalle mx-auto" alt="Producto">
    </div>
    <div class="mx-auto w-100 w-sm-50 flex-column detallecontenido">
        <h3 class="display-4 detalletitulo">{{ producto.titulo }}</h3>
        <p><i style="font-size:24px" class="fa">&#xf114;</i> <b>Categoria:</b> <a href="/categoria/{{ producto.categoria.id }}">{{ producto.categoria }}</a></p>
        <p><span class="badge bg-primary"><i style="font-size:12px" class="fa">&#xf1d8;</i> <span>Envio gratuito!</span></span></p>
        <h4><i style="font-size:24px" class="fa">&#xf0d6;</i> ${{ producto.precio }}</h4><br>
        <b>Descripción del producto:</b>
        <p class="text-justify">{{ producto.descripcion|linebreaks }}</p>
        {% if request.user.is_staff %}
            <a class="btn btn-primary" href="/editar/{{ producto.id }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
              </svg> Editar</a>
                {% else %}
                    {% if user.is_authenticated %}
                <a class="btn btn-success" onclick='AjaxAgregar("/add-to-cart/{{ producto.id }}")'>Agregar al carrito</a>
                    {% else %}
                <a class="btn btn-success" href="{% url 'App_Inicio:register' %}"><i style="font-size:24px" class="fa">&#xf217;</i> Agregar al carrito</a>
                    {% endif %}
                {% endif %}
    </div>
</div>

{% endblock %}