{% extends 'web/layout.html' %}
{% load static %}

{% block title %} Registrarse {% endblock %}

{% block article_section %}

{% if user.is_authenticated %}
<h1>Ya se encuentra registrado!</h1>
{% else %}
<!--Register--> 
<div class="container py-4">
	<div class="userform bg-light">
		<h1>Registro</h1><br>
		<form method="POST">
			{% csrf_token %}
			<ul>
				<li class="text-center"><b>Nombre de usuario:</b></li>
				<li>{{ register_form.username }}</li><br>
				<li class="text-center"><b>Email:</b></li>
				<li>{{ register_form.email }}</li><br>
				<li class="text-center"><b>Contraseña:</b></li>
				<li>{{ register_form.password1 }}</li><br>
				<li class="text-center"><b>Repita su contraseña:</b></li>
				<li>{{ register_form.password2 }}</li><br>
				<button class="btn btn-primary" type="submit">Registrarse</button><br>

				{% if messages %}
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					<ul class="messages">
						{% for message in messages %}
						<li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
						{% endfor %}
					</ul>
					
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			  	</div>
			{% endif %}
			</ul>
		</form>
		<p class="text-center">Si ya tenes una cuenta podes <a style="text-decoration: none;" href="/login">ingresar</a> a la misma.</p>
	</div>
</div>
{% endif %}
{% endblock %}